/* navigation bar styling */
.navbar{
    overflow: visible;
    background-color: white;
    padding: 10px;
}

.navbar li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
}

.navbar li a{
    color: rgb(119, 117, 117);
}

.navbar_item{
    margin-top: 10px;
}

.dropdown {
    margin-top: 0px;
}

.btn{
    color: rgb(119, 117, 117);
    font-size: 20px;
    margin-top: 0;
}

.navbar-header{
    margin-left: 30px;
}

#Landing_Page{
    background-color: cadetblue;
    color: white;
    font-size: 40px;
    padding: 20px;
}

.nav-link{
    display: block;
    padding: .5rem 1rem;
}

.dropdown-toggle{
    white-space: nowrap;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    overflow: visible;
}

.dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(119, 117, 117);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* content styling */
h1 {
    color: cadetblue;
    padding: 2px;
}

h2{
    color:cadetblue;
    padding: 2px;
}

h3{
    color:cadetblue;
    text-align: center;
    padding: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Landing_img{
    padding:10px;
    float: left;
}

.Landing_text{
    margin-top: 10px;
}


@media (max-width: 480px) {
    .navbar{
        visibility: hidden;
    }

    .dropdown-menu{
        visibility: visible;
    }

}